<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <title>Project Buider</title>
</head>

<body>
    <div class="jumbotron">
        <div class="container-fluid" style="margin-top: 10px;">
            <h3>Flaskception.ct 2: Electric Boogaloo</h3>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Project Name</label>
                    <input class="form-control" id="exampleFormControlInput1" placeholder="Enter Project Name">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Enter Brief Description</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <button type="button" class="btn btn-primary btn-lg">Create</button>
            </form>
        </div>
    </div>
</body>

</html>