<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <title>Project Buider</title>
</head>

<body>

    <nav>
        <div class="nav-wrapper" style="background-color: grey;">
          <a href="#" class="brand-logo" style="padding-left: 25px;">projectBuilder2: Electric Boogaloo</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down" style="padding-right: 25px;">
            <li><a href="sass.html">New Project</a></li>
            <li><a href="badges.html">Prep Exisiting Project</a></li>
            <li><a href="collapsible.html">settings</a></li>
          </ul>
        </div>
	</nav>

		{% block body %}{% blockend %}
		
</body>

</html>
