{% extends 'layout.html' %}

{% block title %} projectBuilder {% endblock %}

{% block body %}

    <div class="jumbotron">
        <div class="container-fluid" style="margin-top: 10px;">
            <h2>projectBuilder.ct 2: Electric Boogaloo</h2>
            <br>
            <h3>Save Destinations</h3>
            <form>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Python Save Destination</label>
                    <input class="form-control" id="exampleFormControlInput1" placeholder="{{pythonSaveDestination}}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">HTML Save Destination</label>
                    <input class="form-control" id="exampleFormControlInput2" placeholder="{{htmlSaveDestination}}">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlInput1">C# Save Destination</label>
                    <input class="form-control" id="exampleFormControlInput3" placeholder="{{csSaveDestination}}">
                </div>
                <br>
                <h3>Database Settings</h3>
                <div class="form-group">
                    <label for="exampleFormControlInput1">Database File</label>
                    <input class="form-control" id="exampleFormControlInput4" placeholder="{{databaseFile}}">
                </div>
                <button type="button" class="btn btn-primary btn-lg">Update</button>
            </form>
        </div>
    </div>

{% endblock %}